body {
  margin: 0;
  font-family: Arial;
  background: #070a12;
  color: white;
}

#globe {
  height: 88vh;
}

.card {
  background: rgba(20,25,40,0.8);
  margin: 12px auto;
  padding: 18px;
  border-radius: 12px;
  width: 90%;
  max-width: 600px;
}

button {
  background: #4da6ff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  margin-top: 10px;
}

.bar {
  height: 10px;
  background: #222;
  border-radius: 10px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background: #4da6ff;
}
